fac-etl/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "fac-etl"
		},
		"Leviatan_Destino_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Leviatan_Destino'"
		},
		"Leviatan_ETL_Final_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Leviatan_ETL_Final'"
		},
		"Leviatan_Origen_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Leviatan_Origen'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MIGRACION COMPLETA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Buscar Tablas",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Guardar Codigo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT \n'[' + TABLE_SCHEMA + '].[' + TABLE_NAME + ']' As COMPLETO,\nCASE WHEN TABLE_NAME IN('PERSONA') THEN 'TRN' ELSE 'CAT' END TIPO,\nTABLE_SCHEMA As ESQUEMA,\nTABLE_NAME As TABLA\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_TYPE = 'BASE TABLE'",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "LEVIATAN_ORIGEN_1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Migrar Tablas",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Buscar Tablas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Buscar Tablas').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "COPIA ENTERA",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "IF @{item().TIPO}= 'TRN'\nBEGIN\n\tIF {variables('lastCode')} <> 'null'\n\tBEGIN\n\t\tSELECT * FROM @{item().COMPLETO} WHERE ID > CAST({variables('lastCode')} AS INT)\n\tEND\n\tELSE\n\tBEGIN\n\t\tSELECT * FROM @{item().COMPLETO}\n\tEND\nEND\nELSE \nBEGIN\n    SELECT * FROM @{item().COMPLETO}\nEND",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "LEVIATAN_ORIGEN_1",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "LEVIATAN_DESTINO_1",
											"type": "DatasetReference",
											"parameters": {
												"TABLA": {
													"value": "@item().TABLA",
													"type": "Expression"
												},
												"ESQUEMA": {
													"value": "@item().ESQUEMA",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Buscar Codigo",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT MAX(CAST(CODIGO AS INT)) CODIGO FROM RESULTADO_FINAL",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "LEVIATAN_ETL_FINAL",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Migrar Intermediaria",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Migrar Tablas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT PERSONA.ID CODIGO, PERSONA.NOMBRE, PERSONA.CORREO, AUTO.NOMBRE AUTOMOVIL FROM PERSONA\nCROSS JOIN \"AUTO\"\nWHERE PERSONA.ID > @{variables('lastCode')}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CODIGO",
											"type": "Int32"
										},
										"sink": {
											"name": "CODIGO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NOMBRE",
											"type": "String"
										},
										"sink": {
											"name": "NOMBRE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CORREO",
											"type": "String"
										},
										"sink": {
											"name": "CORREO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AUTOMOVIL",
											"type": "String"
										},
										"sink": {
											"name": "AUTOMOVIL",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "LEVIATAN_DESTINO_2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "LEVIATAN_ETL_FINAL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Guardar Codigo",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Buscar Codigo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "lastCode",
							"value": {
								"value": "@activity('Buscar Codigo').output.firstRow.CODIGO",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Borrar Intermediaria",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Migrar Intermediaria",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SP_LIMPIAR]"
						},
						"linkedServiceName": {
							"referenceName": "Leviatan_Destino",
							"type": "LinkedServiceReference"
						}
					}
				],
				"variables": {
					"lastCode": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/LEVIATAN_ORIGEN_1')]",
				"[concat(variables('factoryId'), '/datasets/LEVIATAN_ETL_FINAL')]",
				"[concat(variables('factoryId'), '/datasets/LEVIATAN_DESTINO_2')]",
				"[concat(variables('factoryId'), '/linkedServices/Leviatan_Destino')]",
				"[concat(variables('factoryId'), '/datasets/LEVIATAN_DESTINO_1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LEVIATAN_DESTINO_1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leviatan_Destino",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TABLA": {
						"type": "string"
					},
					"ESQUEMA": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().ESQUEMA",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TABLA",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Leviatan_Destino')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LEVIATAN_DESTINO_2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leviatan_Destino",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Leviatan_Destino')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LEVIATAN_ETL_FINAL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leviatan_ETL_Final",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "RESULTADO_FINAL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Leviatan_ETL_Final')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LEVIATAN_ORIGEN_1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leviatan_Origen",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Leviatan_Origen')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Leviatan_Destino')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Leviatan_Destino_connectionString')]"
				},
				"connectVia": {
					"referenceName": "Integration-Runtime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/Integration-Runtime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Leviatan_ETL_Final')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Leviatan_ETL_Final_connectionString')]"
				},
				"connectVia": {
					"referenceName": "Integration-Runtime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/Integration-Runtime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Leviatan_Origen')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Leviatan_Origen_connectionString')]"
				},
				"connectVia": {
					"referenceName": "Integration-Runtime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/Integration-Runtime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/COMENZAR')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 2,
						"startTime": "2020-05-08T17:32:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Integration-Runtime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "East US",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		}
	]
}