fac-etl/PartialArmTemplates/ArmTemplate_5_12_2020_13_35_38.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "fac-etl"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ETL-PRUEBA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Migrar Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT PERSONA.ID CODIGO, PERSONA.NOMBRE, CORREO, \"AUTO\".NOMBRE AUTOMOVIL FROM PERSONA\nCROSS JOIN \"AUTO\"",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CODIGO",
											"type": "Int32"
										},
										"sink": {
											"name": "CODIGO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NOMBRE",
											"type": "String"
										},
										"sink": {
											"name": "NOMBRE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CORREO",
											"type": "String"
										},
										"sink": {
											"name": "CORREO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AUTOMOVIL",
											"type": "String"
										},
										"sink": {
											"name": "AUTOMOVIL",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "LEVIATAN_ORIGEN_1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "LEVIATAN_ETL_FINAL",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Borrar Datos",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Ultimo Migrado",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SP_BORRAR_DATOS]",
							"storedProcedureParameters": {
								"MAXID": {
									"value": {
										"value": "@activity('Ultimo Migrado').output.firstRow.CODIGO",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Leviatan_Origen",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ultimo Migrado",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Migrar Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT MAX(CAST(CODIGO AS INT)) CODIGO FROM RESULTADO_FINAL",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "LEVIATAN_ETL_FINAL",
								"type": "DatasetReference"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		}
	]
}