fac-etl/PartialArmTemplates/ArmTemplate_5_13_2020_10_41_50.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "fac-etl"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/COPIA COMPLETA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Buscar Tablas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT \n'[' + TABLE_SCHEMA + '].[' + TABLE_NAME + ']' As ESQUEMA_TABLA,\nCASE WHEN TABLE_NAME IN('PERSONA') THEN 'TRN' ELSE 'CAT' END TIPO,\nTABLE_SCHEMA As ESQUEMA,\nTABLE_NAME As TABLA\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_TYPE = 'BASE TABLE'",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "LEVIATAN_ORIGEN_1",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Iterar Tablas",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Buscar Tablas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Buscar Tablas').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "COPIAR TABLA",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM @{item().ESQUEMA_TABLA}",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "LEVIATAN_ORIGEN_1",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "LEVIATAN_DESTINO_1",
											"type": "DatasetReference",
											"parameters": {
												"TABLA": {
													"value": "@item().TABLA",
													"type": "Expression"
												},
												"ESQUEMA": {
													"value": "@item().ESQUEMA",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Ultimo Migrado",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Iterar Tablas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT ISNULL(MAX(ID), 0) ID FROM PERSONA",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "LEVIATAN_DESTINO_2",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Borrar Datos",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Ultimo Migrado",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SP_BORRAR_DATOS]",
							"storedProcedureParameters": {
								"MAXID": {
									"value": "",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Leviatan_Origen",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LEVIATAN_ORIGEN_2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leviatan_Origen",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ESQUEMA": {
						"type": "string"
					},
					"TABLA": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().ESQUEMA",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TABLA",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		}
	]
}