pipeline/ETL-PRUEBA.json
{
	"name": "ETL-PRUEBA",
	"properties": {
		"activities": [
			{
				"name": "Migrar Data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT PERSONA.ID CODIGO, PERSONA.NOMBRE, CORREO, \"AUTO\".NOMBRE AUTOMOVIL FROM PERSONA\nCROSS JOIN \"AUTO\"",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "LEVIATAN_ORIGEN_1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "LEVIATAN_ETL_FINAL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Borrar Datos",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Ultimo Migrado",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_BORRAR_DATOS]",
					"storedProcedureParameters": {
						"MAXID": {
							"value": {
								"value": "@activity('Ultimo Migrado').output.firstRow.CODIGO",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Leviatan_Origen",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Ultimo Migrado",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Migrar Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(CAST(CODIGO AS INT)) CODIGO FROM RESULTADO_FINAL",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "LEVIATAN_ETL_FINAL",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	}
}