pipeline/MIGRACION COMPLETA.json
{
	"name": "MIGRACION COMPLETA",
	"properties": {
		"activities": [
			{
				"name": "Buscar Tablas",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Guardar Codigo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \n'[' + TABLE_SCHEMA + '].[' + TABLE_NAME + ']' As COMPLETO,\nCASE WHEN TABLE_NAME IN('PERSONA') THEN 'TRN' ELSE 'CAT' END TIPO,\nTABLE_SCHEMA As ESQUEMA,\nTABLE_NAME As TABLA\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_TYPE = 'BASE TABLE'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "LEVIATAN_ORIGEN_1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Migrar Tablas",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Buscar Tablas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Buscar Tablas').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "COPIA ENTERA",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "IF @{item().TIPO}= 'TRN'\nBEGIN\n\tIF {variables('lastCode')} <> 'null'\n\tBEGIN\n\t\tSELECT * FROM @{item().COMPLETO} WHERE ID > CAST({variables('lastCode')} AS INT)\n\tEND\n\tELSE\n\tBEGIN\n\t\tSELECT * FROM @{item().COMPLETO}\n\tEND\nEND\nELSE \nBEGIN\n    SELECT * FROM @{item().COMPLETO}\nEND",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "LEVIATAN_ORIGEN_1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "LEVIATAN_DESTINO_1",
									"type": "DatasetReference",
									"parameters": {
										"TABLA": {
											"value": "@item().TABLA",
											"type": "Expression"
										},
										"ESQUEMA": {
											"value": "@item().ESQUEMA",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Buscar Codigo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(CAST(CODIGO AS INT)) CODIGO FROM RESULTADO_FINAL",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "LEVIATAN_ETL_FINAL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Migrar Intermediaria",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Migrar Tablas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT PERSONA.ID CODIGO, PERSONA.NOMBRE, PERSONA.CORREO, AUTO.NOMBRE AUTOMOVIL FROM PERSONA\nCROSS JOIN \"AUTO\"\nWHERE PERSONA.ID > @{variables('lastCode')}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CODIGO",
									"type": "Int32"
								},
								"sink": {
									"name": "CODIGO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "NOMBRE",
									"type": "String"
								},
								"sink": {
									"name": "NOMBRE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CORREO",
									"type": "String"
								},
								"sink": {
									"name": "CORREO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "AUTOMOVIL",
									"type": "String"
								},
								"sink": {
									"name": "AUTOMOVIL",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "LEVIATAN_DESTINO_2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "LEVIATAN_ETL_FINAL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Guardar Codigo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Buscar Codigo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "lastCode",
					"value": {
						"value": "@activity('Buscar Codigo').output.firstRow.CODIGO",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Borrar Intermediaria",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Migrar Intermediaria",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_LIMPIAR]"
				},
				"linkedServiceName": {
					"referenceName": "Leviatan_Destino",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"lastCode": {
				"type": "String"
			}
		},
		"annotations": []
	}
}