pipeline/MIGRACION COMPLETA.json
{
	"name": "MIGRACION COMPLETA",
	"properties": {
		"activities": [
			{
				"name": "TABLAS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT '[' + TABLE_SCHEMA + '].[' + TABLE_NAME + ']' As COMPLETO\n, TABLE_SCHEMA As ESQUEMA,\nTABLE_NAME As TABLA\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_TYPE = 'BASE TABLE'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "LEVIATAN_ORIGEN_1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LOOP TABLAS",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "TABLAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('TABLAS').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "COPIA ENTERA",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT * FROM @{item().COMPLETO}",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "LEVIATAN_ORIGEN_1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "LEVIATAN_DESTINO_1",
									"type": "DatasetReference",
									"parameters": {
										"TABLA": {
											"value": "@item().TABLA",
											"type": "Expression"
										},
										"ESQUEMA": {
											"value": "@item().ESQUEMA",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}