templates/MIGRACION BASICA/MIGRACION BASICA.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"Leviatan_Origen": {
			"type": "string"
		},
		"Leviatan_Destino": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MIGRACION_PERSONA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Migrar",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM PERSONA",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"name": "CODIGO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NOMBRE",
											"type": "String"
										},
										"sink": {
											"name": "NOMBRE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CORREO",
											"type": "String"
										},
										"sink": {
											"name": "CORREO",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Origen_Persona",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Destino_Persona",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Validar",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Migrar",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT MAX(CAST(CODIGO AS INT)) FIN FROM PERSONA",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Destino_Persona",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Borrar_Datos",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Validar",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SP_BORRAR_DATOS]",
							"storedProcedureParameters": {
								"MAXID": {
									"value": {
										"value": "@activity('Validar').output.firstRow.FIN",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('Leviatan_Origen')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Migrada",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Borrar_Datos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Destino_Persona",
								"type": "DatasetReference"
							},
							"fieldList": [
								"columnCount"
							]
						}
					}
				],
				"variables": {
					"Resultado_Migrar": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Origen_Persona')]",
				"[concat(variables('factoryId'), '/datasets/Destino_Persona')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Origen_Persona')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('Leviatan_Origen')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NOMBRE",
						"type": "nvarchar"
					},
					{
						"name": "CORREO",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "PERSONA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Destino_Persona')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('Leviatan_Destino')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CODIGO",
						"type": "varchar"
					},
					{
						"name": "NOMBRE",
						"type": "varchar"
					},
					{
						"name": "CORREO",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "PERSONA"
				}
			},
			"dependsOn": []
		}
	]
}